
<script type="module" src="//shortaktien.de/build/iota-button.esm.js"></script>
<script nomodule src="//shortaktien.de/build/iota-button.js"></script>

<iota-button 
    address="{{data.address}}"
    amount="{{data.amount}}"
    currency="{{data.currency}}" 
    label="Donate" 
    merchant="{{data.user_1}}"
    type="donation">
</iota-button>
